<mat-toolbar color="primary">
  <span *ngIf="data.enableDelete">EDIT</span>
  <span *ngIf="!data.enableDelete">ADD</span>
</mat-toolbar>
<mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput [(ngModel)]="data.birthday.name" />
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Birthday</mat-label>
  <input matInput [matDatepicker]="picker"  [ngModel]="showDate" (ngModelChange)="data.birthday.birthdate = $event" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-chip-list  [selectable]="true" aria-label="cat" selectable multiple>
    <mat-chip>
      <i class="material-icons-round" color="primary">redeem</i><br><br/>
    </mat-chip>
    <mat-chip>
      <i class="material-icons-round" color="primary">call</i>
    </mat-chip>
    <mat-chip>
      <i class="material-icons-round" color="primary">textsms</i>
    </mat-chip>
    <mat-chip>
      <i class="material-icons-round" color="primary">markunread_mailbox</i>
    </mat-chip>
  </mat-chip-list>
</mat-form-field>

<mat-form-field>
  <mat-label>Notes</mat-label>
  <textarea matInput [(ngModel)]="data.birthday.notes"></textarea>
</mat-form-field>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{ birthday: data.birthday }">OK</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    *ngIf="data.enableDelete"
    mat-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ birthday: data.birthday, delete: true }">
    <mat-icon>delete</mat-icon>
  </button>
</div>